{{partial "header.html" .}}
{{partial "header-print.html" .}}

<div class="row">
    <div class="col-md-9">
    <article class="entry-layout hentry">
        <header class="entry-header">
            <figure>
                <img src="{{ .Site.BaseURL }}img/assets/poster-{{ .Params.interactiveslug }}.jpg" alt="" itemprop="image">
            </figure>

            <h1 class="entry-title" itemprop="headline">
                {{ .Title }}
            </h1>

            <div class="socmedia-share hidden-print clearfix">
                <h4>Share<span class="sr-only"> this article on</span>:</h4>
                <ul class="clearfix">
                    <li><span><a rel="nofollow" class="share-window" href="http://www.facebook.com/share.php?u={{.Permalink}}&title={{.Title}}"><img src="{{ .Site.BaseURL }}img/icon-facebook.png" alt="Facebook" /></a></span></li>
                    <li><span><a rel="nofollow" class="share-window" href="https://twitter.com/intent/tweet?text=CompilED:%20{{ .Title }}&url={{ .Permalink }}&via=ColumbiaCTL"><img src="{{ .Site.BaseURL }}img/icon-twitter.png" alt="Twitter" /></a></span></li>
                    <li><span><a rel="nofollow" class="share-window" href="https://plus.google.com/share?url={{ .Permalink }}"><img src="{{ .Site.BaseURL }}img/icon-googleplus.png" alt="Google Plus" /></a></span></li>
                </ul>
            </div>

            <div class="launch-interactive hidden-print clearfix">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Launch interactive
                </button>
            </div>
        </header>
        
        <div class="entry-content" itemprop="articleBody">
            {{ .Content }}

            {{ if .Params.usage_location }}
            <p>
            Usage location:
            {{ if .Params.usage_locationurl }}
            <a href="{{ .Params.usage_locationurl }}" target="_blank">
            {{ .Params.usage_location }}
            </a>
            {{ else }}
            {{ .Params.usage_location }}
            {{ end }}
            </p>
            {{ end }}
            <div class="embed-code">
            <h3>How to install</h3>
            <h4>Iframe embed</h4>
            <p>To embed this interactive directly into your website, copy the following code:</p>
            
        <form>
            <textarea class="code-copy" readonly="readonly">&lt;iframe src="https://interactives.ctl.columbia.edu/lib/{{ .Params.interactiveslug }}/" frameborder="0"&gt;
&lt;/iframe&gt;</textarea>
        </form>
            <h4>NPM and Dev installation</h4>
            <p>For this type of installation, please follow the instructions on <a href="{{ .Params.githuburl }}" target="_blank">Github</a> or <a href="{{ .Params.npmurl }}" target="_blank">NPM</a></p>
            </div>
            <div class="bookend hidden-print">
                <span class="glyphicon glyphicon-menu-left" role=""></span><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-right"></span>
                <span class="sr-only">End of article.</span>
            </div>
        </div>
        <div class="visible-print-block">
        <hr />
        {{ .Permalink }}
        <hr />
        </div>
    </article>
    </div>
    <div class="col-md-3 sidenav hidden-print" role="complementary">
        {{partial "interactive_details.html" .}}        
    </div>
</div>
{{partial "footer.html" .}}

