.socmedia-share {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    padding: 0 10px;
    text-align: center;
    margin: auto;
    height: 40px;
    width: 170px;
}

.socmedia-share h4 {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
	font: normal 14px/40px 'Montserrat', sans-serif;
	height: 40px;
	float: left;
}

.socmedia-share ul {
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    list-style: none;
}

.socmedia-share ul>li {
    float: left;
    display: block;
}

.socmedia-share img {
    margin: 0 !important;
    padding: 0 !important;
    width: 15px !important;
}

.socmedia-share a {
    padding: 5px;
    display: block;
    margin: 0 5px;
}

#share-url .close,
#embed-url .close {
    width: 20px;
    height: 20px;
    background: transparent url('/img/icon-clearclose.png') center center no-repeat;
}

#share-url .close,
#embed-url .close {
  filter: alpha(opacity=100);
  opacity: 100;
}

#share-url .close:hover,
#share-url .close:focus,
#embed-url .close:hover,
#embed-url .close:focus {
  filter: alpha(opacity=100);
  opacity: 100;
}

#share-url .popover-title,
#embed-url .popover-title {
    padding: 4px;
    background-color: transparent;
    border: none;
}

#share-url input[type='text'] {
    width: 240px;
    height: auto;
}

#share-url textarea.direct-url,
#embed-url textarea.embed-url {
    width: 240px;
    height: auto;
}

#embed-url textarea.embed-url {
    height: 150px;
}
#share-url .launch {
    margin-left: 5px;
    font-size: 12px;
}
