<h1 class="text-center">Recent work</h1>

<div class="row more-recent-entries">
{{ range first 3 ( where .Site.Pages "Type" "portfolio" ) }}
    <div class="col-md-4 clearfix">
        <article class="recent-entry">
            <figure>
                <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}img/assets/thumb-{{ .Params.interactiveslug }}.jpg" alt="" itemprop="image"></a>
            </figure>
            <h2 class="entry-title">
                <a href="{{ .Permalink }}"><span class="entry-link glyphicon glyphicon-link"></span>{{ .Title }}</a>
            </h2>
            <div class="entry-summary">
                <p>{{ if .Params.packagedescription }}{{ .Params.packagedescription }}{{ else }}A simple interactive.{{ end }}</p>
            </div>
        </article>
    </div>
{{ end }}
</div>
<br /><br />
<div class="row more-recent-entries">
{{ range first 3 ( after 3 ( where .Site.Pages "Type" "portfolio" ) ) }}
    <div class="col-md-4 clearfix">
        <article class="recent-entry">
            <figure>
                <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}img/assets/thumb-{{ .Params.interactiveslug }}.jpg" alt="" itemprop="image"></a>
            </figure>
            <h2 class="entry-title">
                <a href="{{ .Permalink }}"><span class="entry-link glyphicon glyphicon-link"></span>{{ .Title }}</a>
            </h2>
            <div class="entry-summary">
                <p>{{ if .Params.packagedescription }}{{ .Params.packagedescription }}{{ else }}A simple interactive.{{ end }}</p>
            </div>
        </article>
    </div>
{{ end }}
</div>

<div class="more-articles-link">
    <a class="btn btn-default btn-primary btn-lg" href="/portfolio/">Browse full portfolio <span class="glyphicon glyphicon-chevron-right" role="presentation"></span></a>
</div>
